basictransformation/src/main/app/basictransformation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="basictransformationFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/small" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="b5dc875c-9b43-4f40-8801-cf7c63c71028">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	root: {
		(payload.Details map ((detail , indexOfDetail) -> {
			Details: {
				ID: detail.ID,
				Name: detail.Name,
				Salary: detail.Salary,
				Dept: detail.Dept,
				Address: detail.Address
			}
		}))
	}
}
]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="basictransformationFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/test" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="c8971169-c75a-44cc-821f-987d973ca936">
            <dw:input-payload mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
employee:payload.root.Details map {
	ID:payload.root.*Details.ID,
	Name:payload.root.*Details.Name,
	Salary:payload.root.*Details.Salary,
	Deptarment:payload.root.*Details.Dept,
	Address:payload.root.*Details.Address
	
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
